/* Place your CSS styles in this file */

body
{
    background-color: rgb(185, 252, 241);
}

h1 {
    text-align: center;
    font-family: "Papyrus", fantasy;
    font-weight: bold;
    color: rgb(239, 9, 9);
}

h3
{ 
    text-align: center;
    font-family: "Times New Roman", serif;
    font-size: x-large;
} 

ul
{
    font-family: "Cambria", serif;
    font-size: x-large;
}
